/* :root {
  --main-text-color: white;
} */

/* /////////////////////////////// */

/* RESET */

/* /////////////////////////////// */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #ecf0f1;
  font-size: 62.5%;
  /* font-size: 125%; */
}

body {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  font-size: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: 0.02rem;
  display: inline-block;
  padding: 15px 26px 10px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* /////////////////////////////// */

/* HEADER */

/* /////////////////////////////// */

nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: slateblue;
  padding: 1rem 1.5rem;
}

.nav-items {
  /* position: fixed; */
  top: 0;
  right: 0;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: flex-end;
  /* flex-direction: row; */
  align-items: center;
  padding-right: 5%;
}

header {
  height: 100%;
  background-color: blue;
}

/* /////////////////////////////// */

/* SECTIONS */

/* /////////////////////////////// */

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

.hero-section {
  padding-top: 120px;
}

.section-heading {
  display: flex;
  flex-direction: column;
}

.section-content {
  display: flex;
  flex-direction: column;
}

.showcase {
  display: flex;
}

.showcase-image img {
  width: 95%;
}

/* /////////////////////////////// */

/* RESPONSIVE */

/* /////////////////////////////// */

@media only screen and (max-width: 768px) {
  nav {
    position: fixed;
    width: 100%;
  }
  .nav-items {
    position: fixed;
    left: -100%;
    top: 0%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-items.active {
    left: 0%;
  }
  .nav-items li {
    margin: 2.5rem 0;
    padding: 0;
    display: block;
  }
  header {
    background-color: coral;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .showcase {
    flex-wrap: wrap;
  }
  .showcase-image {
    width: 100%;
  }
}