/* --- RESET --- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #ecf0f1;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* --- Headings --- */

header {
  height: 100vh;
}

.header-wrapper {
  background: url(./asset/8C7E4DC9-62A0-4082-954E-770B0641185F.JPEG) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  color: #eeeeee;
  font-size: 4rem;
  height: 70px;
  width: 200px;
}

/* --- Navigation --- */

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #eeeeee;
  background-color: #393e46;
  padding: 20px;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.sticky nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #393e46;
  z-index: 99;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  text-align: center;
}

.main-nav li {
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #eeeeee;
}

.resp-nav {
  display: none;
  cursor: pointer;
}

.resp-nav div {
  width: 25px;
  height: 3px;
  background-color: #eeeeee;
  ;
  margin: 5px;
  transition: all 0.3s ease;
}

.social-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 50px;
}

/* --- Anchors --- */

#about {
  display: block;
  position: relative;
  top: -100px;
}

#home {
  display: block;
  position: relative;
  top: -100px;
}

#projects {
  display: block;
  position: relative;
  top: -100px;
}

/* --- Page Content --- */

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.section-copy {
  text-align: center;
  line-height: 2em;
}

.about-img-divider {
  height: 600px;
  background-image: url(./asset/18FECE9D-AF43-4DEA-8793-147F1F3AD3B1.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --- Responsive --- */

@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .header-wrapper {
    height: 100%;
    background: url(./asset/8C7E4DC9-62A0-4082-954E-770B0641185F.JPEG) no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
  }
  .main-nav {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    background-color: #393e46;
  }
  .main-nav li {
    opacity: 0;
  }
  .resp-nav {
    display: block;
  }
  .about-img-divider {
    background: url(./asset/18FECE9D-AF43-4DEA-8793-147F1F3AD3B1.JPG) no-repeat center center;
    background-size: cover;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}